*{
    margin: 0px;
    padding: 0px;
    font-family: 'EB Garamond', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
/* some short codes */
.button{
    background-color: #E55473;
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 6px;
    color: aliceblue;
    font-size: medium;
}


/* header section styles here  */
.banner-container{
    height: 70vh;
    width: 100%;
    background-color:#fce9ed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-title{
    font-size: 60px;
    color: #272727;
}
.banner-paragraph{
    color: #999999;
    margin-top: 15px;
    margin-bottom: 15px;
}
.banner-img{
    width: 500px;
}
/* feature flower section styles here  */
.featured{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}
.featured-title{
    color: #272727;
    font-size: 40px;
}
.featured-describtion{
    color: #999999 ;
    font-size: 17px;
}
.featured-img-container{
    margin-bottom: 29px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featured-img-one{
    background-color: #f6d5e5;
    padding: 50px 80px 0;
    border-radius: 50% 50% 0% 0%;
}
.featured-img-two{
    background-color: #e6fdfe;
    padding: 105px 80px 0;
    border-radius: 50% 50% 0% 0%;
}
.featured-img-three{
    background-color: #f3fce9;
    padding: 10px 80px 0;
    border-radius: 50% 50% 0% 0%;
}
.flower-describtion{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flower-names{
    text-decoration: underline;
    font-weight: 500;
    color: #272727;
}
/* service section styles here */
.service{
    max-width: 80%;
    margin: 0px auto;
    height: 150px;
    background-color: #f2f2f2;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}
/* hot deal section styles here  */
.hot-deal{
    max-width: 80%;
    margin: 0px auto;
    height: 60vh;
    background-color: #fce9ed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.deal-text{
    margin-top: 20px;
    margin-bottom: 20px;
}



